<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <title>Music Box</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/sign.css">
    </head>
    <body>
        <div class="icon"><i class="fa fa-music" aria-hidden="true"></i>  Music Box</div>
        <hr id="topLine">
        <div class="sign-title">電子郵件</div>
        <div class="sign-text-div"><input class="sign-text" type="text" id="regemail" placeholder="輸入電子信箱"></div>
        <div class="sign-title">密碼</div>
        <div class="sign-text-div"><input class="sign-text" type="password" id="regpassword" placeholder="輸入密碼"></div>
        <div class="sign-button-div"><button id="signbutton"class="sign-button">登入</button></div>
        <div class="message" id="regmessage"></div>
        <hr id="bottonline">
        <div class="sign-connect">尚未有帳號？<a id="changelogin" href="/member/signup">點此註冊</a></div>
    </body>
    <script src="/static/js/memberFuntions.js"></script>
    <script src="/static/js/signin.js"></script>
</html>